services:
  db:
    image: postgres:17.4
    restart: always
    ports:
      - "5432:5432"
    environment: 
      POSTGRES_DB: authentication_session
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "a1b2c3d4"
    volumes: 
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
