services:
  db:
    image: postgres:17.4
    restart: always
    ports:
      - "5430:5432"
    environment: 
      POSTGRES_DB: url_shortener
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "Q1e2r3s4$"
    volumes: 
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
